@page
@model TestDB.Pages.Ban.BanModel
@{
    ViewData["Title"] = "Lịch sử bán hàng";
}
<script src="https://kit.fontawesome.com/5a213e1813.js" crossorigin="anonymous"></script>
<div style="background-color:#1877F2;">
    <hr />
    <h1 style="text-align:center; color:white">HOÁ ĐƠN</h1>
    <hr />
</div>
<br/>
<div style="display:flex;">
    <form method="post" style="width:70%;">
        <div class="col-sm-6" style="display:flex; width:100%;">
        <input type="text" class="form-control" style="margin-right: 30px;" name="Search" value="@Model.searchInfo.Search">
        <button type="submit" style="background-color:white; border-color:lightgray; color:black;" class="btn btn-primary"><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>
    </form>
    <div style="margin-left: 37.6%;">
        <a class="btn btn-primary btn-sm" style="background-color:#0dac50; float:right; margin-right: 72px; width: 90px; height:40px; padding-bottom: 0;
        padding-top: 8px;" href="/Ban/Create">Thêm mới</a>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Mã hoá đơn</th>
            <th>Tên khách hàng</th>
            <th>Nhân viên</th>
            <th>Ngày bán</th>
            <th>Chiết khấu</th>
            <th>Tổng tiền</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var HD in Model.listHD)
        {
            <tr>
                <td>@HD.MaHD</td>
                <td>@HD.TenKH</td>
                <td>@HD.MaNV</td>
                <td>@HD.ThoiGian.ToString("dd/MM/yyyy")</td>
                <td>@HD.GiamGia</td>
                <td>@HD.TongTien</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="/Ban/Info?MaHD=@HD.MaHD">Xem</a>
                    <a class="btn btn-danger btn-sm" href="/Ban/Delete?MaHD=@HD.MaHD">Xoá</a>
                </td>
            </tr>
        }
    </tbody>
</table>